/distrib
/packages
/downloaded_samples
/__MACOSX
native/*/work*
cross/*/work*
kernel/*/work*
wdpk/*/work*

wdpk/*/*.sign
wdpk/*/*.xml

wdpk/zerotier/bin/
wdpk/*/.ssh/

.env

toolchains/*/work*
local.mk

/.idea
*.DS_Store
*~
